.img-upload {
    background-color: #f9f9f9;
    width: 350px;
    height: 350px;
    border: dashed 3px #e4e4e4;
    margin: auto;
    display: flex;
    /* text-align: center; */
}

.img-upload > span {
    color: #67595E;
    font-size: 70px;
    display: flex;
    margin: 140px auto;
    font-weight: bold;
}

.gallery-img {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    box-sizing: border-box;
}

.gallery-img input[type="file"]{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.img-upload-btn {
    height: 50px;
    width: 120px;
    border-radius: 20px;
    /* margin-top: 30px; */
    transition: all 0.2s linear;
    margin: 30px auto;
}

.img-upload-btn:hover {
    transform: scale(1.2);
}

.input-contents {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#cimg{
    position: absolute;
    width: 345px;
    height: 345px;
    text-align: center;
}

.img-card {
    /* width: 300px; */
    /* background-color: #67595E; */
    border: solid 2px #67595E;
    border-radius: 20px;
    /* padding: 30px; */
    margin-left: 40px;
    margin-top: 20px;
}

.img-card img {
    width: 300px;
    height: 300px;
    padding: 30px;
    /* border: solid 3px #67595E; */
}

.m-l-20 {
    margin-left: 20px;
}

.img-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.img-size {
    width: 200px;
    height: 200px;
}

/* .line {
    width: 100%;
    border: solid 3px black;
} */

.center {
    justify-content: center;
    margin: auto;
}