.layout {
    padding-top: 80px;
}

.main {
    min-height: calc(100vh - 180px);
    flex-direction: row;
    grid-template-columns: auto;
    display: flex;
}

.flex {
    /* display: flex; */
    /* float: left; */
    justify-content: flex-start;
}