.card-body {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 10px 10px;
}

.card-body2 {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    gap: 10px 10px;
    margin-top: 10px;
}

.main-body {
    padding: 30px;
}

#card-group2 {
    grid-row: 1 / span 2;
}

.t-b {
    color: black;
}

.link-header:hover {
    background-color: #E9D5DA;
}